* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: auto;
    background-color: rgb(0, 0, 0);
}

.head {
    width: 100vw;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: grey;
}

.head .logo {
    width: 20vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo h1 {
    color: white;
    font-size: 5vw;
}
